anyio
appnope
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
boltons
Brotli
cached-property
certifi==2025.4.26
cffi
charset-normalizer==3.4.2
colorama
comm
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cycler
debugpy
decorator
defusedxml
distro
entrypoints
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
frozendict
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna==3.10
importlib_metadata
importlib_resources
ipykernel
ipympl
ipython
ipython_genutils
ipywidgets
isoduration
jedi
Jinja2
joblib==1.4.2
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
libmambapy
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
menuinst
mistune
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycosat
pycparser
Pygments
pyobjc-core
pyobjc-framework-Cocoa
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
ruamel.yaml
ruamel.yaml.clib
schedule==1.2.2
scikit-learn==1.6.1
scipy
seaborn==0.13.2
Send2Trash
setuptools==72.2.0
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl==3.5.0
tinycss2
tomli
tornado
tqdm
traitlets
truststore
types-python-dateutil
typing-utils
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel==0.44.0
widgetsnbextension
zipp
zstandard==0.23.0
pyTelegramBotAPI==4.27.0
